#navbar {
  z-index: 100;
  -webkit-transform: translateZ(100px);
  position: fixed;
 /* height: 4.6rem;*/

  background-color: #777777;
  /* background: -webkit-linear-gradient(0deg, gold, gray); */
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 0.2rem solid rgba(255, 0, 0, 0.8);
/*  padding-left: 0.3rem;
  padding-top: 0.3rem;*/
    padding-left: 0.5%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  
 /* overflow-x: auto;
  overflow: hidden;
   white-space: nowrap; */
}

#navbar .button,
#navbar .title {
  /*height: 4.5rem;
  line-height: 4.5rem;*/
  
/*  padding-left: 0.3rem;
  padding-right: 0.3rem;*/
  
    padding-left: 0.3%;
  padding-right: 0.3%;

  
  /* border: 0px solid rgba(127, 255, 127, 0.8); */
  /* border-radius: 0.7rem;   */
  border-radius: 20%; 
}

#navbar .button.home {
/*  margin-right: 0.5rem; */
  margin-right: 0.5%;
  width: 5%;
 /* border-left: 0.2rem solid rgba(255, 255, 255, 0.8);*/
   /* float: right; */
   float: left; 
  
}

#navbar .title {
/*  float: left;
  color: #35b5eb;
  font-size: 1.5rem;
  font-family: DroidSansBold;
  text-shadow: 0.1rem 0.1rem 0.1rem rgba(255, 255, 255, 0.2); 
  padding-right: 0; */
  overflow-x: auto;
  /* overflow: hidden; */
  /* white-space: nowrap; */
}

.kit-active {
  background-color: #000000;
}

.kit-active:hover {
  background-color: #550000;
}

.kit-active:active {
  background-color: #FF0000;
}

.img-size {
	width: 100%;	/* 100% of the parent <div> */
}



.kit-title-text {
  color: white;
  text-transform: uppercase;
  font-size: 1.4rem;
}


/*
#column1-wrap {
    float: left;
    width: 100%;
}
#column1 {
    background-color: cyan;
    margin-right: 200px;
}
#column2 {
    background-color: lime;
    float: left;
    width: 200px;
    margin-left: -200px;
}
#clear {
    clear: both;
}
*/




#middle {
    /*background: #f00; */
    /*top: 150px;*/
    /* bottom: 150px;*/
	/*color:#EEEEEE*/
}
/*
#footer {
    background: #777;
    height: 150px;
    bottom: 0
}*/

#left, #right {
	color:#EEEEEE;
    overflow-y: scroll;
	top: calc(4.6rem + 0.2rem);
	height: calc(100% - (4.6rem + 0.2rem));
    background: #000;
    position: absolute;
}
#left {
    left: 0;
    width: 35%;
}
#right {
    left: 35%;
    float: right;
	width: calc(65% - 0.2rem);
	border-left: 0.2rem solid rgba(255, 0, 0, 0.8); 
}


